// Colors
$blue-light-light: #ADD7F6;
$blue-light: #87BFFF;
$blue-primary: #3F8EFC;
$blue-dark: #2667FF;
$blue-dark-dark: #3B28CC;
$white: #fff;


// Fonts 
$share-tech-mono: 'Share Tech Mono', monospace;

// Breakpoints 